[submodule "models/deeplab-public-ver2"]
	path = models/deeplab-public-ver2
	url = https://bitbucket.org/aquariusjay/deeplab-public-ver2
	ignore = untracked
[submodule "models/matconvnet-calvin"]
	path = models/matconvnet-calvin
	url = https://github.com/nightrome/matconvnet-calvin
	ignore = untracked
